extends generalStructure

block content
  h1= title
  p These page managing a sightseeing tour.
  a(href='/inputMap') Input new Sightseeing point by drawing on a map.
  br
  a(href='/managePoi') Manage all of your Points of Interests.
  br
  a(href='/inputRoute') Input a new Tour by Selecting from the Point of Interest.
  br
  a(href='./manageTour') Manage all Tours
  br
  a(href='./showTours') Show all Tours and finding the next buss station.
