html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 60px;
}

/* since the navbar is fixed we need to add some space to the body */
body {
  padding-top: 0px;
}
div.container {
  padding: 0cm;
  margin: 0cm;
  margin-right: 0cm;
}
#map {
    height: 700px;
}